figure {
  display: inline-block;
  position: relative;
  float: center;
  width: 325px;
  overflow: hidden;
  margin: 0 0px 0px 0;
}
figcaption {
	float: center;
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.60);
  color: white;
  width: 325px;
  padding: 10px 20px; 
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -o-transition:      all 0.8s ease;
}
figure:hover figcaption {
  opacity: 1;
}




.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

.background-reverse {
		background-color: #3d4e6a;
		    color: white;
    font-weight: normal;
}


.resume{
	/* margin-left:  4vw; */
	
	width: 80%;
}

/*
#projects {
	background: rgba(225, 225, 225, .95);
}

#more-projects {
	background: rgba(225, 225, 225, .95);
}
*/

/*
#jjb {
	background-image: url('keyboard.png');
	background-repeat: no-repeat;
	background: rgba(225, 225, 225, .45); 
} */

.carousel-content {
	color: white;
    display: flex;
    align-items: center;
	height: 140px; 
}

.carousel-inner {
	height: 100% !important;
}

.navbar {
    margin-bottom: 0px;
}


body {
	font-family: 'Ubuntu', sans-serif;
} 


.background-video {
	top-margin -30px;
}


.overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* background-color: rgba(0,0,0,0.25); */
  color:white;
}

.overlay h1 {
  font-weight: bold;
  color: #fff;
  font-size: 64px;
  font-size: 8vw;
}

.overlay h3 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  font-size: 3vw;
}

.overlay h4 {
  font-weight: bold;
  font-style: italic;
  color: #fff;
  font-size: 16px;
  font-size: 1.5vw;
}

.sm-buffer { margin-top: 2vw;}
.md-buffer { margin-top: 6vw;}
.lg-buffer { margin-top: 9vw;}

.ghost-btn {
    display: inline-block;
  text-decoration: none;
  border: 1px solid #3f6fa0;
  height: 36px;
  line-height: 36px;
  color: #3f6fa0;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1em;
  padding: .5em 1.5em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #ffffff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  zoom: 1;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.ghost-btn:hover {
	text-decoration: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #3f6fa0;
  color: #ffffff;
}
.ghost-btn:focus {
  outline: none;
}





.ghost-button {
  display: inline-block;
  font-size: 1.5em; 
  margin: .8em;
  /* width: 8em; 
  height: 3.2em; */
  padding: .8em;
  color: #eeefff;
  border: 2px solid #eeefff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s,
              border-color 0.2s;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.2);
  color: #eeefff;
  border-color: #eeefff; 
  text-decoration: none;
  transition: background-color 0.3s,
              border-color 0.3s;
}




.carousel-content {
	color: white;
	/* display: flex; */
	align-items: center;
	height: 140px; 
}

.carousel-inner {
	height: 100% !important;
}







.margin-top-05 {margin-top: 0.5em;}
.margin-top-10 {margin-top: 1.0em;}
.margin-top-15 {margin-top: 1.5em;}
.margin-top-20 {margin-top: 2.0em;}
.margin-top-25 {margin-top: 2.5em;}
.margin-top-30 {margin-top: 3.0em;}

.navbar-inner {
	margin-left: 2.0em;
    margin-right: 2.0em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease;    /* Firefox */
    -o-transition: all .3s ease;      /* IE 9 */
    -ms-transition: all .3s ease;     /* Opera */
    transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.10);   /* Safari and Chrome */
    -moz-transform: scale(1.10);    				/* Firefox */
    -ms-transform: scale(1.10);    					/* IE 9 */
    -o-transform: translatZ(0) scale(1.10);    		/* Opera */
    transform: translatZ(0) scale(1.10);
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .portfolio-caption p {
        font-size: 1.0em;
        text-align: center;
    }
    .portfolio-caption h3 {
        text-align: center;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .portfolio-caption h3 {
        margin-left: 7.0em;
        text-align: left;
    }
    .portfolio-caption p {
        margin-left: 12.0em;
        margin-right: 12.0em;
        font-size: 1.0em;
        text-align: left;
    }
	
		.carousel-content {
		font-size: .8em;
	}
	.carousel-content h3{
		font-size: 1.4em;
	}
	
}

/* tablets/desktops and up  */
@media (min-width: 992px) and (max-width: 1199px) {
    .portfolio-caption h3 {
        margin-left: 0.0em;
        text-align: left;
    }
    .portfolio-caption p {
        font-size: 1.2em;
        text-align: left;
    }
	
	.carousel-content {
		font-size: .9em;
	}
	.carousel-content h3{
		font-size: 1.6em;
	}
}

/* large desktops and up  */
@media screen and (min-width: 1200px) {
    .portfolio-caption h3 {
        margin-left: 0.0em;
        text-align: left;
    }
    .portfolio-caption p {
        font-size: 1.2em;
        text-align: left;
    }
}

.more-projects {
    text-align: center;
    margin-top: -3.2em;
	padding-bottom: .9em;
}
#more {
    outline: 0 !important;
    width: 12em;
	
	
	border-radius: 24px;

	
}






.glyphicon-circle-arrow-down {
	font-size: 3em;
	color: white;
	
}

.scroll-arrow :hover{
	
	color: #3f6fa0;;
	
}





.icon {
	width: 80px;
	height: 80px;
	padding: 8px;
	fill: #3d4e6a;
}

.icon-link :hover{
	width: 80px;
	height: 80px;
	padding: 8px;
	fill: #7776a2;
}
.icon-plus {
	width: 80px;
	height: 80px;
	padding: 8px;
	fill: #0b4019;
}

.icon2 {
	width: 80px;
	height: 80px;
	padding: 8px;
	fill: #0b4019;
	display: none;
}

.icon2-link :hover{
	width: 80px;
	height: 80px;
	padding: 8px;
	fill: #18851f;
}

.tiny-text {
    font-size: .6em;
    color: #000; 
    color: rgba(0, 0, 0, 0.1);
}




.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

img.lessOpacity{   			

    transition: all 0.3s ease 0s;
}

img.lessOpacity:hover{   			
   opacity: 0.7;
   filter: alpha(opacity=40);
   zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
}







